six==1.11.0
Twisted==18.7.0
ordereddict==1.1
requests_oauthlib==1.0.0
pathlib2==2.3.2
setuptools==40.0.0
funcsigs==1.0.2
requests==2.19.1
zope.interface==4.5.0
more_itertools==4.2.0
colorama==0.3.9
atomicwrites==1.1.5
numpy==1.13.3
argcomplete==1.9.4
beautifulsoup4==4.6.3
zope==4.0b6
